<div class="container">
    <h1 class="title">Акции</h1>
    <div class="sale">
        <div class="head">
            <div class="export">
                <div class="info">
                    <div class="info-text">
                        <p>Экспорт ковровых покрытий из Европы</p>
                    </div>
                    <div class="img-block">
                        <img src='{{vectorRight}}'>
                    </div>
                </div>
            </div>
            <div class="escom">
                <div class="info">
                    <div class="info-text">
                        <p>Ковровая плитка ESCOM по низкой цене</p>
                    </div>
                    <div class="img-block">
                        <img src='{{vectorRight}}'>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="stratos">
                <div class="info">
                    <div class="info-text">
                        <p>Скидки на ковровую плитку DESSO STRATOS</p>
                    </div>
                    <div class="img-block">
                        <img src='{{vectorRight}}'>
                    </div>
                </div>
            </div>
            <div class="fast">
                <div class="info">
                    <div class="info-text">
                        <p>Быстрые сроки выполнения поставленных задач</p>
                    </div>
                    <div class="img-block">
                        <img src='{{vectorRight}}'>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
  
</div>
