@import "../../../../scss/mixins.scss";
@import "../../../../scss/variable.scss";


.title{
   @include titleStyle()
}

.title::after{
    @include after(248px);
  }

.reviews{
    display: flex;
    gap:60px;

    .section{
        display: flex;
        flex-direction: column;
        gap:14px;

        .section-span{
            @include location-font(12px,400)
        }

        .section-title{
            @include fontStyle(#202020,20px,600);
        }

        .section-img{
            width: 170px;
            height: 30px;
        }

        .section-text{
            @include fontStyle(#666,14px,400);
            line-height: 150%;
            width: 400px;
        }

        .btn{
            @include flex-center($colorGold,#FFF);
            border: 1px solid $colorGold;
            align-self: center;
            margin-top: 50px;
        }
    }
}