
<div class="block"></div>
<div class="container header-bar">
    <div class="catalog">
        <img src='{{burger}}' class="catalog-burger">
        <p class="burger-txt">Каталог</p>
    </div>
    
    <ul class="navigation">
        <li *ngFor="let root of bar">
            <a [routerLink]="root.href">{{root.title}}</a>
        </li> 
    </ul>
    
    <div class="resurces">
        <div class="img-block">
            <img src = '{{login}}' class="resurces-img" >
        </div>
        <img src = '{{star}}' class="resurces-img-star">
        <div class="img-block">
            <img src = '{{shoping}}' class="resurces-img">
        </div>
        
        
        
    </div>
</div>
